img {
  max-width: 100%;
  height: auto;
}

body {
  min-width: 320px;
  font-family: 'Lato' !important;
  overflow-x: hidden !important;
}

.heart {
  max-width: 230px;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}

.heart::before {
  content: '';
  display: inline-block;
  width: 90px;
  height: 2px;
  background: #d7dadc;
  -webkit-transform: translate(-15px, -7px);
      -ms-transform: translate(-15px, -7px);
          transform: translate(-15px, -7px);
}

.heart::after {
  content: '';
  display: inline-block;
  width: 90px;
  height: 2px;
  background: #d7dadc;
  -webkit-transform: translate(15px, -7px);
      -ms-transform: translate(15px, -7px);
          transform: translate(15px, -7px);
}

h3 {
  font-weight: 900;
  font-size: 28px;
  color: #4c76ff;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.close {
  position: fixed;
  top: 5%;
  right: 25px;
  display: none;
}

.close .fa {
  font-size: 18px;
  color: #4c76ff !important;
}

.active-link {
  color: #4c76ff !important;
  font-weight: 700;
}

header {
  font-family: 'Lato' !important;
  height: 100vh;
  position: relative;
  background: transparent url("../img/header_bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
}

header .navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu-active {
  -webkit-transform: translateX(-160%);
      -ms-transform: translateX(-160%);
          transform: translateX(-160%);
}

header .header-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

header .menu-link {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

header .menu-link:hover::before {
  opacity: 1;
}

header .menu-link::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #4c76ff;
  position: relative;
  bottom: 20px;
  opacity: 0;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

header .logo {
  font-weight: 900;
  font-size: 20px;
  color: #fff;
}

header .logo .blue {
  color: #4c76ff;
}

header .menu-top {
  padding: 20px 0;
  background: rgba(16, 22, 54, 0.3);
  z-index: 999;
}

header .menu-item {
  margin: 0 15px;
}

header .burger {
  background: transparent;
  border: 2px solid #4c76ff;
  padding: 5px 15px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #e6e8ea;
  font-size: 14px;
  cursor: pointer;
  display: none;
}

header .burger .fa {
  color: #fff;
}

header .header-title {
  color: #fff;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40%;
}

header .header-title h1 {
  font-size: 62px;
  font-weight: 900;
  margin-bottom: 15px;
}

header .header-title h2 {
  font-size: 48px;
  font-weight: 100;
  margin-bottom: 25px;
}

header .header-title p {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 12%;
}

header .header-title p::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 2px;
  background: #4c76ff;
  -webkit-transform: translate(-40px, -5px);
      -ms-transform: translate(-40px, -5px);
          transform: translate(-40px, -5px);
}

header .header-title p::after {
  content: "";
  display: inline-block;
  width: 28px;
  height: 2px;
  background: #4c76ff;
  -webkit-transform: translate(40px, -5px);
      -ms-transform: translate(40px, -5px);
          transform: translate(40px, -5px);
}

header .header-title .blue {
  color: #4c76ff;
}

header .header-title .social-icon .fa {
  font-size: 20px;
  color: #fff;
  opacity: .4;
  padding: 0 10px;
}

header .header-title .social-icon .fa:hover {
  opacity: 1;
}

.features {
  padding: 80px 0 120px;
  background: #efefef;
  font-family: 'Open Sans';
}

.features .feature {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.features .feature .image {
  width: 100px;
  margin-right: 15px;
}

.features .feature h5 {
  font-size: 17px;
  color: #062033;
  margin-bottom: 17px;
  font-weight: 600;
}

.features .feature p {
  color: #062033;
  font-size: 11px;
  font-weight: 400;
  line-height: 17px;
}

.mobile {
  padding-top: 90px;
  color: #282528;
  font-family: 'Open Sans' !important;
}

.mobile .text {
  margin-bottom: 70px;
  text-align: center;
}

.mobile .text p {
  line-height: 30px;
}

.mobile .phonebox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  margin: 20px 0 60px;
  padding-left: 16px;
}

.mobile .phonebox:hover {
  background: #fefce9;
}

.mobile .image {
  min-width: 30px;
  margin-right: 40px;
}

.mobile .desc h5 {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 10px;
}

.mobile .desc p {
  font-size: 11px;
  line-height: 20px;
}

.works {
  padding: 70px 0 60px;
  text-align: center;
  font-family: 'Lato';
}

.works p {
  color: #062033;
  font-size: 14px;
}

.works .navs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px 0;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.works .nav-item {
  padding: 8px 20px;
  margin: 0 10px;
}

.works .nav-item .nav-link {
  font-weight: 900;
  color: #062033;
  font-size: 14px;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.works .nav-active {
  background: #4c76ff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.works .nav-active .nav-link {
  color: #fff;
}

.works .tab-item {
  position: relative;
}

.works .tab-item:hover .overlay {
  opacity: 1;
}

.works .tab-item img {
  width: 100%;
  height: 100%;
}

.works .tab-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(76, 118, 255, 0.8);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.works .tab-item .overlay .fa {
  font-size: 20px;
  color: #fff;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 6px;
}

.team {
  padding: 100px 0 150px;
  text-align: center;
}

.team .slider {
  margin-top: 100px;
}

.team .member {
  position: relative;
}

.team .member:hover .overlay {
  opacity: 1;
}

.team .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(76, 118, 255, 0.95);
  height: 100%;
  padding: 15px 20px;
  color: #fff;
  font-family: 'Open Sans';
  opacity: 0;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.team .overlay h6 {
  font-family: 'Open Sans';
  line-height: 18px;
  font-size: 13px;
  margin-bottom: 10px;
}

.team .overlay p {
  font-size: 13px;
  line-height: 20px;
}

.team .social-link {
  width: 35px;
  height: 35px;
  background: rgba(0, 0, 0, 0.3);
  display: inline-block;
  line-height: 35px;
}

.team .social-link .fa {
  color: #fff;
  font-size: 18px;
}

.team .social {
  position: absolute;
  bottom: 5%;
  width: 100%;
  left: 0;
}

.facts {
  padding: 75px 0 115px;
  background: transparent url("../img/f_bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  font-family: 'Open Sans';
  color: #fff;
  text-align: center;
}

.facts .count {
  display: block;
  font-size: 45px;
  font-weight: 600;
  margin: 20px 0 7px;
}

.facts p {
  font-size: 14px;
  text-transform: uppercase;
}

.contact {
  padding: 80px 0 90px;
  overflow: hidden;
}

.contact .text {
  margin-bottom: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  color: #062033;
}

.contact h5 {
  font-size: 19px;
  font-weight: 400;
  color: #062033;
}

.contact .text2 {
  font-size: 10px;
  font-weight: 400;
}

.contact .form-control {
  width: 100%;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}

.contact .form-control:focus {
  -webkit-box-shadow: 0 0 4px #4c76ff;
          box-shadow: 0 0 4px #4c76ff;
}

.contact .social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact .social .fa {
  font-size: 18px;
  color: #e0e0e0;
  margin-bottom: 20px;
  line-height: 10px;
}

@media (max-width: 992px) {
  .features .feature {
    margin-bottom: 20px;
  }

  .mobile .iphone {
    display: none;
  }
}

@media (max-width: 768px) {
  header .header-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    right: -65%;
    top: 15%;
    height: 60vh;
    background: rgba(16, 22, 54, 0.4);
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 100;
    width: 40%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-border-top-left-radius: 7px;
            border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
            border-bottom-left-radius: 7px;
  }

  header .menu-link:hover {
    color: #4c76ff;
  }

  header .menu-link::before {
    display: none;
  }

  header .menu-item {
    margin: 20px 0;
    text-align: center;
  }

  header .burger {
    display: block;
    z-index: 101;
  }

  header .header-title h1 {
    font-size: 50px;
  }

  header .header-title h2 {
    font-size: 35px;
  }

  header .header-title p {
    font-size: 15px;
  }

  .mobile .phonebox {
    margin: 10px 0 30px;
    padding: 10px 0;
  }

  .facts p {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .features .feature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .features .feature .image {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 560px) {
  header .header-title h1 {
    font-size: 37px;
  }

  header .header-title h2 {
    font-size: 27px;
  }

  header .header-title p {
    font-size: 12px;
  }
}

@media (max-width: 476px) {
  .team .overlay p {
    display: none;
  }
}

html, body {
  height: 100%;
}

#cube-loader {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  & .caption {
    margin: 0 auto;
  }
  .cube-loader {
    width: 73px;
    height: 73px;
    margin: 0 auto;
    margin-top: 49px;
    position: relative;
    transform: rotateZ(45deg);

    & .cube {
      position: relative;
      transform: rotateZ(45deg);
      width: 50%;
      height: 50%;
      float: left;
      transform: scale(1.1);
    }
    & .cube:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(52, 73, 94, 1.0);
      animation: cube-loader 2.76s infinite linear both;
      transform-origin: 100% 100%;
    }
    & .loader-2 {
      transform: scale(1.1) rotateZ(90deg);
    }
    & .loader-3 {
      transform: scale(1.1) rotateZ(180deg);
    }
    & .loader-4 {
      transform: scale(1.1) rotateZ(270deg);
    }
    & .loader-2:before {
      animation-delay: 0.35s;
    }
    & .loader-3:before {
      animation-delay: 0.69s;
    }
    & .loader-4:before {
      animation-delay: 1.04s;
    }
  }
}

@keyframes cube-loader {
  0%, 10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
.text2 {
  font-size: 15px;
  margin-top: 30px;
}